streamlit
pydub
ffmpeg
ffmpeg-python
firebase-admin
faster-whisper
transformers
sentencepiece
sounddevice
pyaudio
numpy
fpdf
torch
torchvision
torchaudio
streamlit-webrtc
aioice
av




